* {
  margin: 0 auto;
  font-family: sans-serif;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: #181818;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  max-width: 600px;
  margin-bottom: 24px;
}

.container-input {
  max-width: 480px;
  margin: 14px 0;
}

.container-input span {
  color: #fff;
  font-size: 22px;
}
.container-checkbox {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 5px;
  background: #dfdfdf;
  height: 18px;
  outline: none;
  margin-top: 8px;
  cursor: pointer;
}

.button-cta {
  height: 40px;
  background-color: #3bb72b;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.container-password {
  max-width: 480px;
  margin: 14px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 28px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.password {
  height: 60px;
  background-color: rgba(red, green, blue, 0.4);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid #313131;
  transition: transform 0.5s;
}

.password:hover {
  transform: scale(1.05);
}

.tooltip {
  color: #fff;
  position: relative;
  top: 20px;
  padding: 6px 8px;
  background: rgb(15, 15, 15);
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
};

.hide {
  display: none;
};

.container-password:hover .tooltip {
  visibility: visible;
  bottom: 50px;
  opacity: 1;
};

/* Estilo para o contêiner do alert */
.custom-modal {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center; /* Centralizar verticalmente e horizontalmente */
}

.modal-content {
  position: fixed;
  background-color: #181818;
  width: 25%;
  color: white;
  border: 1px solid rgba(173, 216, 230, 0.5);
  border-radius: 42px;
  padding: 20px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
  
  /* Centralize verticalmente e horizontalmente */
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content p {
  margin: 10px 0; /* Adicione margem em cima e embaixo do parágrafo */
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 42px;
  cursor: pointer;
}